<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <springProperty scope="context" name="appName" source="spring.application.name"/>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="!default">
        <property name="LOG_FILE" value="logs/${appName}.log"/>
        <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
        <root level="INFO">
            <appender-ref ref="FILE" />
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <logger name="com.example.bootr2dbc" level="DEBUG"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.springframework.transaction" level="DEBUG"/>
    <logger name="io.r2dbc.postgresql.QUERY" level="DEBUG"/>
    <logger name="io.r2dbc.postgresql.PARAM" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>

</configuration>
