# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: boot-komapper

on:
  push:
    paths:
      - "boot-komapper/**"
    branches: [ master ]
  pull_request:
    paths:
      - "boot-komapper/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: "25"
        distribution: 'temurin'
        cache: "maven"
    - name: Setup Postgres in Docker 
      run: |
        docker compose up -d postgres
        sleep 5
        docker ps -a
    - name: Build with Gradle
      run: |
        cd boot-komapper
        chmod +x gradlew
        ./gradlew build      
