name: boot-filepart

on:
  push:
    paths:
      - "boot-filepart/**"
    branches:
      - master
  pull_request:
    paths:
      - "boot-filepart/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: "21"
          cache: "maven"

      - name: Start up PostgreSQL in Docker
        run: |
          docker compose up -d postgres
          sleep 10
          docker ps -a
      - name: Build with Maven
        run: |
          mvn clean install --file boot-filepart/pom.xml