name: build

on:
  push:
    paths-ignore:
      - "docs/**"
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: 15

      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
          
      - name: Start up databases via Docker Compose 
        run: |
            docker-compose up -d postgres
            docker ps -a

      - name: Build connectionfactories
        run: mvn clean install --file connection-factories/pom.xml -Dmaven.test.skip -DskipTests
             
      - name: Build data-r2dbc-repositories
        run: mvn clean install --file data-r2dbc-repositories/pom.xml
      
      - name: Build data-r2dbc-entitytemplate
        run: mvn clean install --file data-r2dbc-entitytemplate/pom.xml      
      
      - name: Build database-client
        run: mvn clean install --file database-client/pom.xml 
      
      - name: Build entitycallbacks
        run: mvn clean install --file entitycallbacks/pom.xml -Dmaven.test.skip -DskipTests      
 
      # reset database due to change type enum type to use varchar in boot applications.
      - name: Reset databases(remove containers and restart via Docker Compose) 
        run: |
            docker rm "$(docker ps -aq)" -f
            docker-compose up -d postgres
            docker ps -a
      - name: Build boot
        run: |
            mvn clean install --file boot/pom.xml  
            mvn clean verify -Pit --file boot/pom.xml
      
      - name: Build auditing
        run: |
            mvn clean install --file auditing/pom.xml
            mvn clean verify -Pit --file auditing/pom.xml        
        
  automerge:
    name: Merge pull request
    runs-on: ubuntu-latest
    needs: [build]
    if: github.base_ref == 'master' && github.actor == 'dependabot[bot]'
    steps:
      - name: Merge
        uses: actions/github-script@v3.0.0
        with:
          script: |
            github.pullRequests.merge({
              owner: context.payload.repository.owner.login,
              repo: context.payload.repository.name,
              pull_number: context.payload.pull_request.number
            })
          github-token: ${{github.token}}