name: data-r2dbc-repositories

on:
  push:
    paths:
      - "data-r2dbc-repositories/**"
    branches:
      - master
  pull_request:
    paths:
      - "data-r2dbc-repositories/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "25"
          cache: "maven"
      - name: Build with Maven
        run: mvn clean install --file data-r2dbc-repositories/pom.xml