name: data-r2dbc-entitytemplate

on:
  push:
    paths:
      - "data-r2dbc-entitytemplate/**"
    branches:
      - master
  pull_request:
    paths:
      - "data-r2dbc-entitytemplate/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: "21"
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Start up PostgreSQL in Docker
        run: |
          docker compose up -d postgres
          sleep 10
          docker ps -a
      - name: Build with Maven
        run: mvn clean install --file data-r2dbc-entitytemplate/pom.xml