name: entitycallbacks

on:
  push:
    paths:
      - "entitycallbacks/**"
    branches:
      - master
  pull_request:
    paths:
      - "entitycallbacks/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          distribution: "zulu"
          java-version: 17
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Start up PostgreSQL in Docker
        run: |
          docker-compose up -d postgres
          sleep 10
          docker ps -a
      - name: Build with Maven
        run: mvn clean install --file entitycallbacks/pom.xml