name: r2dbc-proxy

on:
  push:
    paths:
      - "r2dbc-proxy/**"
    branches:
      - master
  pull_request:
    paths:
      - "r2dbc-proxy/**"
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "r2dbc-proxy"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "maven"
      
      - name: Grant execute permission for mvnw
        run: chmod +x mvnw

      - name: Build with Maven
        run: ./mvnw clean verify
